<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aichatbot.rag.domain.mapper.RagSearchLogMapper">

    <insert id="save">
        INSERT INTO tb_rag_search_log(
            id,
            tenant_id,
            conversation_id,
            query_text_masked,
            top_k,
            trace_id,
            created_at,
            updated_at
        ) VALUES (CAST(#{ragSearchLogId} AS UUID),
                  CAST(#{tenantId} AS UUID),
                  CAST(#{conversationId} AS UUID),
                  #{queryTextMasked},
                  #{topK},
                  CAST(#{traceId} AS UUID),
                  CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

</mapper>
